<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>css-particles</title>

        <link rel="stylesheet" href="./css-particles.css">
        <style type="text/css">
            .css-particles-fixed {
                background: url('./background.png') left/cover no-repeat;
            }
        </style>
    </head>
    <body>
        {% include "./css-particles.njk" %}
    </body>
</html>
